@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Saiba mais sobre como <a href="https://docs.microsoft.com/aspnet/core">criar aplicativos Web com ASP.NET Core</a>.</p>
</div>
